<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Socket IO Client
    <input type="text" name="" id="username">
    <button onclick="connect()">Connect</button>
    <div>
        Lista de usuarios conectados:
        <ol id="users">
        </ol>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket;
        var usersList = document.querySelector("#users");
        var users = [];

        function connect() {
            if (socket) { socket.disconnect(); }
            const username = document.querySelector("#username").value != '' && document.querySelector("#username").value || 'Anonimo';
            socket = io();
            socket.on('ready', (socketUsers) => {
                socket.emit('parcharse',username);
                users = socketUsers;
                usersList.innerHTML = '';
                for (const user of users) {
                    const el = document.createElement("li");
                    el.innerHTML = user;
                    usersList.appendChild(el);   
                }
            });
        }
    </script>
</body>
</html>